@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=Montserrat:wght@100;300;400;500;700;900&family=Noto+Kufi+Arabic:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {

    --color-blue: #0c8899;
    --color-dark-blue: #080911;
    --color-orange: #e15941;
    --color-light-gray: #b7b4b4;
    --color-white: #fbfbf1;
    --color-dark-gray: #383838;
    --color-black: #0a0a0a;
    --container-width-lg: 90%;
    --container-width-md: 90%;
    --container-width-sm: 80%;
    --container-width-very-sm: 50%;
    --transition: 400ms all ease;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-dark-blue);
    font-family: Montserrat, sans-serif;
    color: var(--color-black);
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

section {
    padding: 4rem 0;
}

h1 {
    font-size: 3rem;
    font-weight: 500;
    color: var(--color-white);
}

h2 {
    font-size: 1.8rem;
    color: var(--color-white);
}

p {
    color: var(--color-white);
    font-size: 1.2rem;
    padding: 1rem 0;
}

section {
    padding: 4rem 0;
}

a {
    text-decoration: none;
}

li {
    color: var(--color-white);
}

.subtitulo {
    color: var(--color-orange);
    font-size: .8rem;
    letter-spacing: 1px;
    font-weight: 500;

}


/* BOTONES  */

.btn {
    font-family: Montserrat, Sans-serif;
    font-size: .9rem;
    background-color: var(--color-white);
    color: var(--color-black);
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 20px;
    transition: var(--transition);
}

.btn a {
    color: var(--color-black);
}


.btn:hover {
    color: white;
    background: none;
    cursor: pointer;
    border: var(--color-white) solid 1px;
}

.btn2 {
    background: transparent;
    color: var(--color-light-gray);
    border: var(--color-dark-gray) solid 1px;
}

.btn2:hover {
    border: 1px solid var(--color-orange);
}

.btn3 {
    background: var(--color-dark-gray);
    color: var(--color-white);
}

.btn3:hover {
    background: var(--color-light-gray);
    border: none;
}

.btn4 {
    background: var(--color-orange);
    color: var(--color-white);
}

.btn5 {
    border-radius: 0;
    background: var(--color-orange);
    color: var(--color-white);
}

.punto {
    background: linear-gradient(45deg, #6facbc 2%, #9d4748 40%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 120%;
}

.animate-on-scroll {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.8s ease-out;
}

.animate-on-scroll.visible {
    opacity: 1;
    transform: translateY(0);
}

@keyframes moverArribaAbajo {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(20px); 
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05); 
    }
    100% {
        transform: scale(1);
    }
}

@keyframes moverDiagonal {
    0%, 100% {
        transform: translateY(0) translateX(0); /* Posición inicial */
    }
    50% {
        transform: translateY(-10px) translateX(10px); /* Movimiento en diagonal */
    }
}

/* MAIN  */
.main {
    background-image: url(../images/fondo.png);
    background-size: cover;
}

/* HEADER  */

header {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

#check {
    display: none;
}

.menu_icon {
    font-size: 1.8rem;
    color: var(--color-white);
    cursor: pointer;
    right: 5%;
    display: none;
}

.navbar {
    position: absolute;
    top: 2rem;
    z-index: 100;
}

.navigation {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    border-radius: 2rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    width: var(--container-width-very-sm);
    align-items: center;
    padding: 10px;
    transition: var(--transition);
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    z-index: 300;
}

.menu_item {
    font-size: .9rem;
    font-weight: 500;
}

.menu_item a {
    text-decoration: none;
    color: var(--color-light-gray);
    transition: var(--transition);
}

.menu_item a:hover {
    color: var(--color-white);
}

.active {
    color: var(--color-white);
}

.logo a {
    color: white;
    font-size: 1.7rem;
    font-weight: 500;
    letter-spacing: -2px;
}

.sticky {
    position: fixed;
    transition: all 0.4s ease-in-out;
    z-index: 3;
}


/* PORTADA  */

.portada {
    padding-top: 6rem;
    width: var(--container-width-very-sm);
    margin: 0 auto;
    text-align: center;
}

.portada h1 {
    line-height: 95%;
    letter-spacing: -2px;
    padding-bottom: 2rem;
    padding-top: 7rem;
}

.portada_index h1{
    padding-top: 0;
}

/* PARA TI  */

.para_ti {
    background: var(--color-dark-blue);
}

.para_ti_container {
    padding: 3rem 0;
    width: var(--container-width-sm);
    margin: 0 auto;
    color: var(--color-white);
    text-align: center;
}

.para_ti_logo img {
    width: 2rem;
    margin-bottom: 3rem;
}

.para_ti_link {
    margin-bottom: 3rem;
}

.para_ti h1 {
    letter-spacing: -3px;
    margin-bottom: 2rem;
}

.para_ti_text p {
    margin: 0 auto;
    width: 50%;
    color: var(--color-light-gray);
}



.categories__container {
    color: var(--color-white);
    width: var(--container-width-md);
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.categories__left {
    padding-right: 4rem;
    width: 40%;
}

.categories__left p {
    padding: 1rem 0 3rem;
}

.category a {
    color: var(--color-white);
}

.categories__right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
    padding-left: 3rem;
}

.category {
    background-image: url(../images/fondo3.png);
    background-size: cover;
    padding: 2rem;
    border-radius: 2rem;
    transition: 400ms all ease;
}

.category:hover {
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.4);
    transform: scale(1.03);
    z-index: 1;
}

.category__icon {
    background: var(--color-primary);
    padding: 0.7rem;
    border-radius: 0.9rem;
}

.category h5 {
    margin: 2rem 0 1rem;
    font-size: 1.1rem;
}

.category p {
    font-size: 1rem;
}

/* SERVICIOS OFERTA  */

.servicios_oferta {
    background-image: url(../images/fondo6.png);
    background-size: cover;
}

.servicios_oferta_container {
    padding: 5rem 0;
    width: var(--container-width-md);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.triangulo_img{
    animation: moverArribaAbajo 2s infinite ease-in-out;
}

.servicios_oferta_text ul li i {
    color: var(--color-orange);
}

/* PROCESO  */

.proceso {
    margin: 6rem auto 0;
    background-image: url(../images/fondo_invertido.png);
    background-size: cover;
    background-position: center;
    width: 100%;
}

.proceso_container {
    width: 95%;
    margin: 0 auto;
    color: var(--color-white);
}

.proceso_text h1 {
    padding-bottom: 3rem;
    text-align: center;
}



.proceso_pasos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 0 auto;
}

.paso {
    position: relative;
    background: rgba(255, 255, 255, 0.05);
    
    backdrop-filter: blur(5px);
    border-radius: 10px;
    transition: border 0.3s ease-in-out;
    animation: cambiarBorde 5s infinite;
}

/* Animación */
@keyframes cambiarBorde {
    0%, 100% {
        border: 1px solid rgb(170, 170, 170, 0.2);
    }
    25% {
        border: 1px solid var(--color-orange); 
    }
}

/* Retrasos para cada elemento */
.paso:nth-child(1) {
    animation-delay: 0s;
}

.paso:nth-child(2) {
    animation-delay: 1s;
}

.paso:nth-child(3) {
    animation-delay: 2s;
}

.paso:nth-child(4) {
    animation-delay: 3s;
}

.paso:nth-child(5){
    animation-delay: 4s;
}

.paso h1 {
    font-size: 1.5rem;
    padding: 2rem;
}

.paso p {
    font-size: 1rem;
    padding: 0 2rem 7rem;
    color: var(--color-light-gray);
}

.paso_num {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    text-align: right;
    font-size: 2rem;
    margin-top: 3rem;
    color: var(--color-light-gray);
    /* Color para los números */
}

/* OBJETIVOS_________________ */

.objetivos {
    background: var(--color-dark-blue);
    padding: 6rem 0;
    -webkit-box-shadow: 0px -6px 30px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px -6px 30px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px -6px 30px 0px rgba(0, 0, 0, 0.75);
}

.objetivos_container {
    width: 60%;
    margin: 0 auto;
    color: var(--color-white);
    text-align: center;
}

.objetivos_container h2 {
    width: 80%;
    margin: 0 auto;
    font-weight: 700;
}

.objetivos_container p {
    color: var(--color-light-gray);
    font-size: .9rem;
    line-height: 1.5;
}

/* PROYECTOS DESTACADOS_________________  */

.proyectos {
    background: url(../images/fondo4.png);
    background-size: 100%;
    color: white;
    padding-top: 7rem;
}

.proyectos_container {
    width: var(--container-width-md);
    margin: 0 auto;
    display: flex;
    gap: 3rem;
}

.proyectos_txt {
    margin-top: 10%;
    width: 50%;
}

.proyectos_titulo p {
    padding-bottom: 1rem;
    color: var(--color-orange);
}

.proyectos_txt p {
    color: var(--color-light-gray);
}

.proyectos_btn {
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.proyectos_elementos {
    margin: 0 auto;
    display: flex;
    gap: 2rem;
}

.proyectos_elementos_izq {
    width: 45%;
}

.proyectos_elementos_der {
    width: 55%;
    margin-top: -3rem;
}

.proyecto_elemento {
    margin-bottom: 2rem;
    transition: var(--transition);
}

.proyecto_elemento a {
    color: var(--color-white);
}

.proyecto_elemento_txt {
    border: 1.5px solid var(--color-dark-gray);
    border-top: none;
    padding: 1rem;
    text-align: center;
    margin-top: -5px;
}

.proyecto_elemento_txt p {
    color: var(--color-light-gray);
}

.proyecto_img img {
    width: 100%;
    opacity: 0.5;
    transition: var(--transition);
}

.proyecto_img img:hover {
    opacity: 1;
}

.proyecto_elemento:hover {
    transform: scale(1.05);
    cursor: pointer;
}

/* NOTICIAS_________________  */

.noticias {
    width: 100%;

}

.noticias_container {
    width: var(--container-width-md);
    margin: 0 auto;
    padding: 4rem 0;
    text-align: center;
}

.noticias_txt {
    width: var(--container-width-sm);
    margin: 0 auto;
    text-align: center;
    color: var(--color-white);
}

.noticias_txt .subtitulo {
    padding-bottom: 0;
}

.noticias_txt h1 {
    line-height: 80%;
}

.noticias_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.article-card {
    color: var(--color-white);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
    margin-bottom: 20px;
    text-align: left;
}

.article-card img {
    width: 100%;
    height: auto;
}

.article-card h3 {
    font-size: 18px;
    margin: 10px 0;
    padding: 0 15px;
}

.article-card a {
    color: var(--color-white);
}

.article-card p {
    font-size: 14px;
    color: #666;
    padding: 0 15px 15px;
}

.article-card:hover {
    transform: translateY(-10px);
    cursor: pointer;
}

.conclusion_index {
    background: url(../images/fondo.png);
    background-size: cover;
    max-width: 100%;
}

.conclusion_index_container {
    width: var(--container-width-sm);
    text-align: center;
    margin: 0 auto;
}

.conclusion_index h1 {
    padding: 4rem 0 2rem;
}

/* FOOTER_________ */
.footer {
    padding: 1rem 0;
}

.footer_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: var(--container-width-lg);
}

.footer_logo a {
    color: var(--color-white);
    font-size: 1.5rem;
    letter-spacing: -1px;
}

.footer_logo p {
    color: var(--color-white);
}

.footer_socials ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: var(--container-width-sm);
    margin: 0 auto;
    justify-items: center;
}

.footer_socials ul li a {
    color: #fff;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    transition: var(--transition);
}

.footer_socials ul li a:hover {
    color: var(--color-orange);
}



.footer_copyright {
    line-height: 1rem;
}

.footer_copyright p,
.footer_copyright a {
    color: white;
    text-align: right;
}


/* PRESUPUESTO    */

.presupuesto_intro {
    background-image: url(../images/fondo3.png);
    background-size: cover;
}

.presupuesto_intro_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: var(--container-width-md);
    gap: 4rem;
    margin: 0 auto;
}

.presupuesto_intro_txt {
    flex: 1 0 60%;
}

.presupuesto_intro_img {
    flex: 1 0 40%;
    text-align: center;
}

.rectangulo{
    animation: moverDiagonal 2s infinite ease-in-out;
}

.formulario_container {
    width: var(--container-width-sm);
    margin: 0 auto;
    padding: 1rem 0 3rem;
    color: #fff;
}

.formulario_container .subtitulo {
    margin-bottom: -1rem;
}

.datos {
    width: var(--container-width-md);
    margin: 0 auto;
}

.datos h2 {
    text-align: left;
    color: #fff;
    margin: 1.5rem auto;
    font-weight: 500;
}

.datos_contacto {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.datos_contacto label {
    display: block;
    margin-bottom: 0.5rem;
    color: #f0f0f0;
    font-size: 1.3rem;
}

.datos_contacto input {
    width: 100%;
    padding: 0.7rem;
    margin-bottom: 1.5rem;
    border: 1px solid rgba(255, 255, 255, 0.3);
    /* Subtle border */
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    transition: all 0.3s ease;
}

input:focus {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid var(--color-orange);
}

.presupuesto {
    background-image: url(../images/fondo6.png);
    background-size: cover;
}

.presupuesto_container {
    width: var(--container-width-md);
    margin: 0 auto;
}

.presupuesto_container h2 {
    text-align: center;
    padding-bottom: 2rem;
}

.presupuesto_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.nuestros_servicios_container {
    margin: 0 auto;
}

.nuestros_servicios_content {
    width: var(--container-width-sm);
    margin: 0 auto;
}

.nuestros_servicios_txt {
    width: var(--container-width-md);
    margin: 0 auto;
}

#ecommerce {
    background: url(../images/fondo3.png);
    /* Amarillo */
    background-size: cover;
}

#frontend {
    background: url(../images/fondo8.png);
    /* Amarillo */
    background-size: cover;
}

#app_moviles {
    background: url(../images/fondo3.png);
    /* Amarillo */
    background-size: cover;
}

#ui_ux {
    background: url(../images/fondo8.png);
    /* Amarillo */
    background-size: cover;
}

.presupuesto_card p {
    font-size: 1.5rem;
    text-align: center;
    color: var(--color-orange);
}

.presupuesto_card {
    cursor: pointer;
    border-radius: 15px;
    padding: 1.5rem;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    transition: var(--transition), box-shadow 0.3s ease;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.presupuesto_card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.7);
}

.presupuesto_card h2 {
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    padding-bottom: 1rem;
}

.presupuesto_card ul li {
    color: #bbb;
    font-size: 1rem;
    margin-bottom: 10px;
}

.presupuesto_card ul li span {
    color: var(--color-orange);
}

/* Efecto de selección */
.presupuesto_card input[type="radio"] {
    display: none;
}

.presupuesto_card input[type="radio"]:checked+label {
    border: 2px solid #ff6347;
    color: #ff6347;
}

.presupuesto_card label {
    cursor: pointer;
    padding: 10px 20px;
    border: 2px solid #ddd;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.presupuesto_card label:hover {
    color: #ff6347;
    border-color: #ff6347;
}

.option {
    padding: 10px;
    margin: 10px;
    border: 1px solid #000;
    background-color: #f0f0f0;
    cursor: pointer;
}

.checked {
    transform: translateY(-10px);
    border: solid .5px var(--color-orange);
    background: rgba(255, 255, 255, 0.05);
    border: .2px solid var(--color-orange);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    color: var(--color-orange);
}

.orange {
    color: var(--color-orange);
}


.extras {
    width: var(--container-width-sm);
    margin: 0 auto;
    padding: 2rem 0;
}

.extras h2 {
    padding: 2rem 0 1rem;
}

.extra_opciones {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    color: var(--color-white);
}

.extra_opcion label:hover {
    cursor: pointer;
}

.plazo input {
    padding: 8px;
    width: 50px;
    text-align: center;
    border: 1px solid var(--color-light-gray);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.7);
}


/* Presupuesto Final */
.presupuesto_final {
    text-align: center;
    color: var(--color-white);
}

.presupuesto_final p {
    font-size: 1.3rem;
}

.presupuesto_final button {
    margin-top: 1rem;
}


.presupuesto_final #total {
    color: var(--color-orange);
    font-size: 2rem;
    font-weight: bold;
}

.dudas {
    margin: 0 auto;
    text-align: center;
}

.dudas h2 {
    padding-bottom: 1rem;
}


/* PAGINA SERVICIOS ____________ */

.servicios_portada {
    background-image: url(../images/fondo2.png);
    background-size: cover;
}

.servicios_portada_container {
    padding: 4rem 0 2rem;
    width: var(--container-width-md);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
}

.servicios_portada_titulo {
    padding-top: 4rem;
    text-align: left;
}

.servicios_portada_titulo p {
    padding-bottom: 2rem;
}

.forma3d{
    animation: pulse 4s infinite;
}
/* SERVICIOS VENTAJAS  */

.servicios_ventajas {
    background-image: url(../images/fondo3.png);
    background-size: cover;
}

.servicios_ventajas_container {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    padding: 3rem 0;
}

/* SERVICOS PASO  */

.servicios_pasos {
    background-image: url(../images/fondo6.png);
    background-size: cover;
}

.servicios_pasos_container {
    width: var(--container-width-md);
    margin: 0 auto;
}

.servicios_pasos_titulo h1 {
    padding-bottom: 1rem;
}

.servicios_pasos_items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
}

.paso h2 {
    padding: 1rem;
}

.paso {
    transition: var(--transition);
}

.paso:hover {
    border: 1px solid var(--color-orange);
}

/* SERVICIOS  */
.servicios {
    width: 100%;
    margin: 6rem 0;
}

.servicios_container {
    color: var(--color-white);
    padding-left: 20%;
}

.servicios_text h1 {
    padding-bottom: 3rem;
}

.servicio_item {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 3rem 0;
    border-bottom: 1px solid var(--color-dark-gray);
    border-top: 1px solid var(--color-dark-gray);
    z-index: 1;
}

.servicio_item::before {
    content: '';
    position: absolute;
    top: 0;
    right: 120%;
    width: 100%;
    height: 100%;
    background: url(../images/fondo5.png);
    background-size: cover;
    background-position: center;
    transition: var(--transition);
    z-index: -3;
}

.servicio_item:hover::before {
    right: 100%;
    transform: translateX(100%);
}

.servicio_text h2 a {
    color: var(--color-white);
    font-weight: 500;
    padding-right: 2rem;
    cursor: pointer;
}


/* SERVICIOS CONCLUSION  */
.servicios_conclusion {
    background-image: url(../images/fondo7.png);
    background-size: cover;
}

.servicios_conclusion_container {
    width: var(--container-width-md);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.servicios_conclusion_container .subtitulo {
    margin-bottom: -1rem;
}

.servicios_conclusion_text p {
    margin: 1rem 0;
}

.dona{
    animation: moverArribaAbajo 2s infinite ease-in-out;
}


/* PÁGINA PROYECTOS __________ */

.galeria {
    margin: 8rem 0 0;
    position: relative;
}

.galeria_text {
    width: var(--container-width-md);
    margin: 0 auto;
    position: absolute;
    top: 2rem;
    left: 2rem;
}

.galeria_text p {
    margin-bottom: -1rem;
}

.slider {
    margin-top: 12rem;
    height: 100vh;
    position: relative;
}

.slider .list .item {
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
    opacity: 0;
    transition: .5s;
    top: -5rem;
}

.slider .list .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .7;
}

.slider .list .item::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to top, #000 40%, transparent);
}

.slider .list .item .content {
    position: absolute;
    left: 10%;
    top: 12%;
    width: 500px;
    max-width: 80%;
    margin-bottom: 3rem;
    z-index: 1;
}

.slider .list .item .content p:nth-child(1) {
    text-transform: uppercase;
    letter-spacing: 10px;
}

.slider .list .item .content h2 {
    font-size: 2rem;
    margin: 0;
}

.slider .list .item .content p {
    font-size: 1.5rem;
}

.slider .list .item.active {
    opacity: 1;
    z-index: 10;
}

@keyframes showContent {
    to {
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}

.slider .list .item.active p:nth-child(1),
.slider .list .item.active h1,
.slider .list .item.active p:nth-child(3),
.slider .list .item.active a {
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s .7s ease-in-out 1 forwards;
}

.slider .list .item.active h1 {
    animation-delay: 1s;
}

.slider .list .item.active p:nth-child(3) {
    animation-duration: 1.3s;
}

.arrows {
    position: absolute;
    top: 30%;
    right: 50px;
    z-index: 100;
}

.arrows button {
    background-color: #eee5;
    border: none;
    font-family: monospace;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: x-large;
    color: #eee;
    transition: .5s;
}

.arrows button:hover {
    background-color: #eee;
    color: black;
}

.thumbnail {
    position: absolute;
    bottom: 25px;
    z-index: 11;
    display: flex;
    gap: 10px;
    width: 100%;
    height: 250px;
    padding: 0 50px;
    box-sizing: border-box;
    overflow: auto;
    justify-content: center;
}

.thumbnail::-webkit-scrollbar {
    width: 0;
}

.thumbnail .item {
    width: 150px;
    height: 220px;
    filter: brightness(.5);
    transition: .5s;
    flex-shrink: 0;
}

.thumbnail .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.thumbnail .item.active {
    filter: brightness(1.5);
}

.thumbnail .item .content {
    position: absolute;
    inset: auto 10px 10px 10px;
}


.nuestros_servicios_content{
    padding: 4rem 0;
}

.nuestros_servicios_item {
    padding: 2rem;
}

.nuestros_servicios_item p{
    padding: 1rem 0;
}


/* PAGINA DE CONTACTO___  */

.contacto_intro {
    background: url(../images/fondo.png);
    background-size: cover;
    padding: 10rem 0 8rem;
}

.contacto_intro_container {
    text-align: center;
    width: var(--container-width-sm);
    margin: 0 auto;
}

.contacto_intro_container h1,
.contacto_intro_container p {
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s .7s ease-in-out 1 forwards;
}

.contacto_intro_container p {
    animation-duration: 1.3s;
}

.contacto_info_container {
    width: var(--container-width-sm);
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.contacto_datos {
    display: flex;
    color: var(--color-white);
    gap: 1rem;
    align-items: center;
    padding: .5rem;
}


.contacto_datos_texto p {
    margin: 0;
    padding: .2rem;
}

.contacto_datos_icono i {
    width: 40px;
    height: 40px;
    background-color: var(--color-orange);
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
}

.contacto_socials {
    color: var(--color-white);
    padding: 1rem 0 1rem 1rem;
}

.contacto_socials ul {
    padding-top: 1rem;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}


.contacto_socials ul li i {
    color: var(--color-orange);
    font-size: 1.4rem;
    transition: var(--transition);

}

.contacto_socials ul li i:hover {
    color: var(--color-white);
    transform: scale(1.05);
}

#map {
    z-index: 1;
    width: 100%;
    height: 400px;
    opacity: .7;
    transition: var(--transition);
}

#map:hover {
    opacity: 1;
}

/* Dispositivos grandes (pantallas de escritorio grandes, 1200px en adelante) */
@media (min-width: 1200px) {
    :root {
        --container-width-lg: 85%;
    }

    .portada h1 {
        font-size: 5rem;
    }
}

/* Dispositivos medianos (tablets, entre 768px y 1200px) */
@media (max-width: 1200px) and (min-width: 768px) {
    :root {
        --container-width-md: 85%;
        --container-width-sm: 75%;
    }

    .navigation {
        width: var(--container-width-md);
    }


    .portada h1 {
        font-size: 4rem;
    }

    .categories__container {
        margin: 0 auto;
        flex-direction: column;
        gap: 2rem;
    }

    .categories__left {
        padding-bottom: 2rem;
        text-align: center;
    }

    .categories__left,
    .categories__right {
        width: 100%;
    }

    .proceso_pasos {
        grid-template-columns: repeat(2, 1fr);
    }

    .servicios_oferta_container {
        gap: 4rem;
        margin: 0 auto;
    }


    .proyectos_container {
        flex-direction: column;
        gap: 2rem;
    }

    .proyectos_txt {
        width: 100%;
        text-align: center;
        padding-bottom: 3rem;
    }

    .proyecto_img img {
        opacity: 1;
    }

    .noticias_grid {
        grid-template-columns: repeat(3, 1fr);
    }

    /* PAGINA DE SERVICIOS____ */

    .servicios_pasos_items {
        grid-template-columns: repeat(3, 1fr);
    }

    .servicios_conclusion_container {
        grid-template-columns: repeat(1, 1fr);
    }

    .servicios_conclusion_text {
        text-align: center;
    }
    /* PAGINA DE GALERIA______ */

    .slider {
        margin-top: 17rem;
    }

    .slider .list .item {
        top: -10rem;
    }
}

/* Dispositivos pequeños (smartphones, menos de 768px) */
@media (max-width: 767px) {
    :root {
        --container-width-sm: 90%;
        --container-width-very-sm: 95%;
    }

    .menu_icon {
        display: block;

    }

    .menu_icon #cerrar_icon {
        display: none;
    }

    #check:checked~.menu_icon #abrir_icon {
        display: none;
    }

    #check:checked~.menu_icon #cerrar_icon {
        display: block;
    }

    .navigation {
        background: url(../images/fondo4.png);
        display: flex;
        justify-content: space-between;
        backdrop-filter: none;
    }

    .sticky {
        position: relative;
    }

    .menu {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        max-height: 0;
        display: block;
        background: url(../images/fondo6.png);
        overflow: hidden;
        background-size: cover;
        transition: max-height 0.5s ease-in-out;
    }

    #check:checked~.menu {
        max-height: 500px;
    }

    .menu_item {
        padding: 1.5rem 0;
        text-align: center;
        transition: .3s ease;
        font-size: 1.6rem;
    }

    .menu_item button {
        font-size: 1.6rem;
        background: none;
        color: var(--color-light-gray);
        padding: 0;
    }


    .menu_item button:hover {
        border: none;
    }

    .menu_item:hover {
        background: rgba(0, 0, 0, 0.1);
    }

    .portada {
        width: var(--container-width-sm);
        padding-top: 5rem;
    }

    .portada h1 {
        font-size: 3rem;
    }

    .para_ti_container {
        width: var(--container-width-very-sm);
    }

    .para_ti_text p {
        width: 80%;
    }

    /* CATEGORÍAS */
    .categories__container {
        flex-direction: column;
    }

    .categories__left,
    .categories__right {
        width: 100%;
        padding: 0;
    }

    .categories__left {
        padding-bottom: 2rem;
        text-align: center;
    }

    .categories__right {
        grid-template-columns: repeat(1, 1fr);
        padding-left: 0;
    }

    .category {
        padding: 1.5rem;
        border-radius: 1rem;
    }

    .servicios_oferta_container {
        width: var(--container-width-sm);
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
    }

    .servicios_oferta_text {
        padding: 0 1rem;
    }

    .proceso_pasos {
        grid-template-columns: 1fr;
    }

    .objetivos_container {
        width: 80%;
    }

    /* PROYECTOS */
    .proyectos_container {
        flex-direction: column;
        text-align: center;
    }

    .proyectos_txt {
        width: 100%;
        margin-top: 2rem;
    }

    .proyectos_elementos {
        flex-direction: column;
        gap: 1.5rem;
    }

    .proyectos_elementos_izq,
    .proyectos_elementos_der {
        width: 100%;
    }

    .proyecto_img img {
        opacity: 1;
    }

    .noticias_grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer_container {
        flex-direction: column;
        text-align: center;
    }

    .footer_logo,
    .footer_socials,
    .footer_copyright {
        width: 100%;
        margin-bottom: 1rem;
    }

    .footer_socials ul {
        display: flex;
    }

    .footer_socials ul {
        justify-content: center;
    }

    .footer_socials ul li {
        padding: 0 0.5rem;
    }

    .footer_copyright p {
        text-align: center;
    }

    /* PAGINA DE SERVICIOS___ */

    .servicios_portada_container {
        grid-template-columns: repeat(1, 1fr);
    }

    .servicios_portada_titulo {
        text-align: center;
    }

    .servicios_container {
        padding-left: 1rem;
    }

    .servicio_text h2 a {
        font-size: 1rem;
    }

    .servicios_text h1 {
        font-size: 2rem;
        padding-bottom: 1.5rem;
    }

    .servicio_btn,
    .enterate {
        width: 100%;
        text-align: center;
    }

    .servicios_ventajas_container {
        width: var(--container-width-sm);
        padding: 2rem 1rem;
    }

    .servicio_item::before {
        background: none;
    }

    .servicios_pasos_items {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .servicios_conclusion_container {
        width: var(--container-width-sm);
        grid-template-columns: 1fr;
    }

    .servicios_conclusion_text,
    .servicios_text {
        text-align: center;
    }

    /* GALERIA___ */

    .thumbnail {
        justify-content: start;
    }

    .galeria_text h1 {
        font-size: 2.3rem;
    }

    .slider .list .item .content h2 {
        font-size: 2rem;
    }

    .slider .list .item .content p {
        font-size: 1.2rem;
    }

    .arrows {
        top: 40%;
    }

    /* PAGINA PRECIOS  */
    .presupuesto {
        margin-top: 0;
    }

    .presupuesto_intro_container {
        flex-direction: column;
        text-align: center;
    }

    .formulario_container,
    .nuestros_servicios_txt {
        text-align: center;
    }

    .formulario_container .datos {
        text-align: left;
        padding-top: 1rem;
    }

    .presupuesto_cards {
        display: flex;
        flex-direction: column;
    }

    .nuestros_servicios_content h1 {
        font-size: 2rem;
    }

    /* PAGINA CONTACTO  */
    .contacto_info_container {
        flex-direction: column;
    }

    .contacto_datos {
        margin: 0 auto;
        width: var(--container-width-lg);
    }

    .contacto_text h2,
    .contacto_socials,
    .extras h2 {
        text-align: center;
    }

    .contacto_socials ul {
        margin: 0 auto;
    }

    .contacto_datos_texto {
        text-align: left;
    }

    .map {
        height: 300px;
    }

    .dudas {
        width: var(--container-width-md);
        margin: 0 auto;
    }
}

/* Dispositivos muy pequeños (menos de 480px, móviles pequeños) */
@media (max-width: 480px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    p {
        font-size: 0.9rem;
    }

    .btn {
        font-size: 0.8rem;
        padding: 8px 12px;
    }

    .portada h1 {
        font-size: 2.5rem;
    }

    .proceso_pasos {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .footer_container {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .footer_socials ul {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    /* PAGINA DE SERVICIOS___ */
    .servicios_pasos_items {
        grid-template-columns: 1fr;
    }

    .noticias_grid {
        grid-template-columns: repeat(2, 1fr);
    }
}