@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=Montserrat:wght@100;300;400;500;700;900&family=Noto+Kufi+Arabic:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {

    --color-blue: #0c8899;
    --color-dark-blue: #080911;
    --color-orange: #e15941;
    /* --color-orange: #9d4748; */
    --color-light-gray: #979595;
    --color-white: #fbfbf1;
    --color-dark-gray: #383838;
    --color-black: #0a0a0a;
    --container-width-lg: 90%;
    --container-width-md: 90%;
    --container-width-sm: 80%;
    --container-width-very-sm: 50%;
    --transition: 400ms all ease;
}

body {
    background-color: var(--color-dark-blue);
    font-family: Montserrat, sans-serif;
    color: var(--color-black);
}

img {
    max-width: 100%;
}

section {
    padding: 4rem 0;
}

h1 {
    font-size: 4rem;
    font-weight: 500;
}

h2 {
    font-size: 1.8rem;
}

p {
    color: var(--color-dark-gray);
    font-size: 1rem;
    padding: 1rem 0;
}

section {
    padding: 4rem 0;
}

a {
    text-decoration: none;
}

#subtitulo {
    color: var(--color-orange);
    font-size: .8rem;
    letter-spacing: 1px;
    font-weight: 500;
}


/* BOTONES  */

.btn {
    font-family: Montserrat, Sans-serif;
    font-size: .9rem;
    background-color: var(--color-white);
    color: var(--color-black);
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 20px;
    transition: var(--transition);
}

.btn a {
    color: var(--color-black);
}


.btn:hover {
    color: white;
    background: none;
    cursor: pointer;
    border: var(--color-white) solid 1px;
}

.btn2 {
    background: transparent;
    color: var(--color-light-gray);
    border: var(--color-dark-gray) solid 1px;
}

.btn2:hover {
    border: 1px solid var(--color-orange);
}

.btn3 {
    background: var(--color-dark-gray);
    color: var(--color-white);
}

.btn3:hover {
    background: var(--color-light-gray);
    border: none;
}

.btn4 {
    background: var(--color-orange);
    color: var(--color-white);
}

.punto {
    background: linear-gradient(45deg, #6facbc 2%, #9d4748 40%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 120%;
}

/* MAIN  */
.main {
    background-image: url(../images/fondo.png);
    background-size: cover;
}

/* HEADER  */

header {
    width: 100%;
    margin: -2rem auto 0;
}

.navigation {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    border-radius: 2rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    width: var(--container-width-very-sm);
    align-items: center;
    padding: 10px;
    transition: var(--transition);
}

.menu {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.menu_item {
    font-size: .9rem;
    font-weight: 500;
}

.menu_item a {
    text-decoration: none;
    color: var(--color-light-gray);
    transition: var(--transition);
}

.menu_item a:hover {
    color: var(--color-white);
}

.active {
    color: var(--color-white);
}

.logo a {
    color: white;
    font-size: 1.7rem;
    font-weight: 500;
    letter-spacing: -2px;
}

.sticky {
    position: fixed;
    transition: all 0.4s ease-in-out;
    z-index: 3;
}


/* PORTADA  */

.portada {
    width: var(--container-width-very-sm);
    margin: 0 auto;
    text-align: center;
}

.portada h1 {
    line-height: 95%;
    font-size: 5rem;
    color: var(--color-white);
    letter-spacing: -2px;
    padding-bottom: 2rem;
}


/* PARA TI  */

.para_ti {
    background: var(--color-dark-blue);
}

.para_ti_container {
    padding: 3rem 0;
    width: var(--container-width-sm);
    margin: 0 auto;
    color: var(--color-white);
    text-align: center;
}

.para_ti_logo img {
    width: 2rem;
    margin-bottom: 3rem;
}

.para_ti_link {
    margin-bottom: 3rem;
}

.para_ti h1 {
    letter-spacing: -3px;
    margin-bottom: 2rem;
}

.para_ti_text p {
    margin: 0 auto;
    width: 50%;
    color: var(--color-light-gray);
}

/* SERVICIOS  */
.servicios {
    width: 100%;
    margin: 6rem 0;
}

.servicios_container {
    color: var(--color-white);
    padding-left: 20%;
}

.servicios_text h1 {
    padding-bottom: 3rem;
}

.servicio_item {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 3rem 0;
    border-bottom: 1px solid var(--color-dark-gray);
    border-top: 1px solid var(--color-dark-gray);
    z-index: 1;
}

.servicio_item::before {
    content: '';
    position: absolute;
    top: 0;
    right: 120%;
    width: 100%;
    height: 100%;
    background: url(../images/fondo5.png);
    background-size: cover;
    background-position: center;
    transition: var(--transition);
    z-index: -3;
}

.servicio_item:hover::before {
    right: 100%;
    transform: translateX(100%);
}



.servicio_text h2 a {
    color: var(--color-white);
    font-weight: 500;
    padding-right: 2rem;
    cursor: pointer;
}

/* PROCESO  */

.proceso {
    margin: 6rem auto 0;
    background-image: url(../images/fondo_invertido.png);
    background-size: cover;
    background-position: center;
    width: 100%;
}

.proceso_container {
    width: 95%;
    margin: 0 auto;
    color: var(--color-white);
}

.proceso_text h1 {
    padding-bottom: 3rem;
    text-align: center;
}



.proceso_pasos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 0 auto;
}

.paso {
    position: relative;
    background: rgba(255, 255, 255, 0.05);
    border: .2px solid rgb(170, 170, 170, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    border-radius: 10px;
}

.paso h1 {
    font-size: 1.5rem;
    padding: 2rem;
}

.paso p {
    font-size: 1rem;
    padding: 0 2rem 7rem;
    color: var(--color-light-gray);
}

.paso_num {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    text-align: right;
    font-size: 2rem;
    margin-top: 3rem;
    color: var(--color-light-gray);
    /* Color para los números */
}

/* OBJETIVOS_________________ */

.objetivos {
    background: var(--color-dark-blue);
    padding: 6rem 0;
    -webkit-box-shadow: 0px -6px 30px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px -6px 30px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px -6px 30px 0px rgba(0, 0, 0, 0.75);
}

.objetivos_container {
    width: 60%;
    margin: 0 auto;
    color: var(--color-white);
    text-align: center;
}

.objetivos_container h2 {
    width: 80%;
    margin: 0 auto;
    font-weight: 700;
}

.objetivos_container p {
    color: var(--color-light-gray);
    font-size: .9rem;
    line-height: 1.5;
}

/* PROYECTOS DESTACADOS_________________  */

.proyectos {
    background: url(../images/fondo4.png);
    background-size: 100%;


    color: white;
    padding-top: 7rem;
}

.proyectos_container {
    width: var(--container-width-md);
    margin: 0 auto;
    display: flex;
    gap: 3rem;
}

.proyectos_txt {
    margin-top: 10%;
    width: 50%;
}

.proyectos_titulo p {
    padding-bottom: 1rem;
}

.proyectos_txt p {
    color: var(--color-light-gray);
}

.proyectos_btn {
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.proyectos_elementos {
    margin: 0 auto;
    display: flex;
    gap: 2rem;
}

.proyectos_elementos_izq {
    width: 45%;
}

.proyectos_elementos_der {
    width: 55%;
    margin-top: -3rem;
}

.proyecto_elemento {
    margin-bottom: 2rem;
    transition: var(--transition);
    box-shadow: rgba(249, 7, 7, 0.7);
}

.proyecto_elemento_txt {
    border: 1.5px solid var(--color-dark-gray);
    border-top: none;
    padding: 1rem;
    text-align: center;
    margin-top: -5px;
}

.proyecto_elemento_txt p {
    color: var(--color-light-gray);
}

.proyecto_img img {
    width: 100%;
}

.proyecto_elemento:hover {
    transform: scale(1.05);
    cursor: pointer;
}

/* NOTICIAS_________________  */

.noticias {
    width: 100%;
    background-image: url(../images/fondo3.png);
    background-size: cover;
}

.noticias_container {

    padding: 4rem 0;
}

.noticias_txt {
    width: var(--container-width-sm);
    margin: 0 auto;
    text-align: center;
    color: var(--color-white);
}

.noticias_txt .subtitulo {
    padding-bottom: 0;
}

.noticias_txt h1 {
    line-height: 80%;
}


/* FOOTER_________ */
.footer {
    padding: 1rem 0;
}

.footer_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: var(--container-width-lg);
}

.footer_logo a {
    color: var(--color-white);
    font-size: 1.5rem;
    letter-spacing: -1px;
}

.footer_logo p {
    color: var(--color-white);
}

.footer_socials ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: var(--container-width-sm);
    margin: 0 auto;
    justify-items: center;
}

.footer_socials ul li a {
    color: #fff;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    transition: var(--transition);
}

.footer_socials ul li a:hover {
    color: var(--color-orange);
}



.footer_copyright {
    line-height: 1rem;
}

.footer_copyright p,
.footer_copyright a {
    color: white;
    text-align: right;
}


/* PRESUPUESTO    */

.presupuesto_intro {
    background-image: url(../images/fondo3.png);
    background-size: cover;
}

.presupuesto_intro_container {
    width: var(--container-width-md);
    margin: 0 auto;
}

.presupuesto_intro_txt {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
    gap: 4rem;
}
.presupuesto_intro_txt h1 {
    flex: 0 0 55%;
}

.presupuesto_intro_txt p {
    font-size: 1.3rem;
}

/* Form container styling */


.formulario_container {
    width: var(--container-width-sm);
    margin: 0 auto;
    padding: 1rem 0 3rem;
    color: #fff;
}

.formulario_container h2 {
    text-align: left;
    color: #fff;
    margin: 1.5rem auto;
    font-weight: 500;
}

.datos_contacto {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Split into two columns */
    gap: 1rem;
    /* Larger gap for more spacing */
}

.datos_contacto label {
    display: block;
    margin-bottom: 0.5rem;
    color: #f0f0f0;
    font-size: 1.3rem;
}

.datos_contacto input {
    width: 100%;
    padding: 0.7rem;
    margin-bottom: 1.5rem;
    border: 1px solid rgba(255, 255, 255, 0.3);
    /* Subtle border */
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    transition: all 0.3s ease;
}

input:focus {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid var(--color-orange);
}

.presupuesto_section {
    background-image: url(../images/fondo6.png);
    background-size: cover;
    background-position: center;
}

.presupuesto {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
}

/* Servicio Section Grid */
.presupuesto_container {
    width: var(--container-width-md);
    margin: 0 auto;
}

.presupuesto_container h2 {
    text-align: center;
    padding-bottom: 2rem;
}

.presupuesto_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.presupuesto_card p {
    font-size: 1.5rem;
    text-align: center;
    color: var(--color-orange);
}

.presupuesto_card {
    cursor: pointer;
    border-radius: 15px;
    padding: 30px;
    position: relative;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    transition: var(--transition), box-shadow 0.3s ease;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.presupuesto_card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.7);
}

.presupuesto_card h2 {
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
}

.presupuesto_card ul li {
    color: #bbb;
    font-size: 1rem;
    margin-bottom: 10px;
}

/* Efecto de selección */
.presupuesto_card input[type="radio"] {
    display: none;
}

.presupuesto_card input[type="radio"]:checked+label {
    border: 2px solid #ff6347;
    color: #ff6347;
}

.presupuesto_card label {
    cursor: pointer;
    padding: 10px 20px;
    border: 2px solid #ddd;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.presupuesto_card label:hover {
    color: #ff6347;
    border-color: #ff6347;
}

.option {
    padding: 10px;
    margin: 10px;
    border: 1px solid #000;
    background-color: #f0f0f0;
    cursor: pointer;
}

.checked {
    transform: translateY(-10px);
    border: solid .5px var(--color-orange);
    background: rgba(255, 255, 255, 0.05);
    border: .2px solid var(--color-orange);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    color: var(--color-orange);
}

.orange {
    color: var(--color-orange);
}

.extras {
    width: var(--container-width-sm);
    margin: 20px auto 0;
}

.extras h2 {
    text-align: left;
    padding: 2rem 0 1rem;
}

.extras label {
    color: #ddd;
    margin: 15px 0;
    cursor: pointer;
    display: block;
}

.plazo {
    display: flex;
    justify-content: flex-start;
    /* Align elements to the start */
    align-items: center;
    /* Vertically center */
    margin-top: 20px;
}

.plazo label {
    cursor: default;
    font-size: 1rem;
    color: var(--color-light-gray);
    margin-right: 10px;
    /* Space between label and input */
}

.plazo input {
    padding: 8px;
    width: 50px;
    /* Adjusted width */
    text-align: center;
    border: 1px solid var(--color-light-gray);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.7);
}


/* Presupuesto Final */
.presupuesto_final {
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}

.presupuesto_final p {
    font-size: 1.3rem;
}

.presupuesto_final button {
    margin: 1rem;
}


.presupuesto_final #total {
    color: var(--color-orange);
    font-size: 2rem;
    font-weight: bold;
}



/* RESPONSIVE______________________________ */

/* TABLETS----------- */
@media (max-width: 991.98px) {

    h1 {
        font-size: 2.3rem;
    }

    .circulo {
        font-size: 1.9rem;
    }

    .btn,
    .btn2,
    .btn3 {
        margin: 0 auto;
    }

    .navigation {
        display: none;
    }

    .portada_container {
        margin: 0 auto;
        width: 95%;
        flex-direction: column;
    }

    .portada_txt {
        margin: 0 auto;
        text-align: center;
        line-height: normal;
        padding-bottom: 2rem;
        width: 90%;
    }

    .portada_img {
        padding-top: 2rem;
        margin: 0 auto;
        max-width: 95%;
    }

    .portada_btn {
        display: flex;
        flex-direction: column;

    }

    /* servicios______ */
    .servicios_container {
        margin: 0 auto;
        text-align: center;
        margin-top: -5rem;
        flex-direction: column-reverse;
    }

    .servicios_txt {
        width: 100%;
        padding-bottom: 2rem;
    }

    .servicios_elementos {
        width: 100%;
        margin: 0 auto;
    }

    .servicios_elementos_izq {
        margin: 0 auto;
    }

    /* proyectos */
    .proyectos_container {
        margin-top: -5rem;
        flex-direction: column;
    }

    .proyectos_txt {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .proyectos_btn a {
        padding: .5rem;
    }

    .proyectos_elementos_der {
        margin: 0 auto;
        width: 50%;
    }


    /* footer */

    .footer_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0 auto;
    }

}

/* MOVILES----------- */
@media(max-width: 765px) {

    h1 {
        font-size: 1.9rem;
    }

    p {
        font-size: 1rem;
    }

    .circulo {
        font-size: 1.9rem;
    }

    .btn,
    .btn2,
    .btn3 {
        margin: 0 auto;
    }

    .navigation {
        display: none;
    }

    .portada_container {
        margin: 0 auto;
        width: 95%;
        flex-direction: column;
    }

    .portada_txt {
        margin: 0 auto;
        text-align: center;
        line-height: normal;
        padding-bottom: 2rem;
        width: 95%;
    }

    .portada_btn {
        display: flex;
        justify-content: center;
    }

    .portada_img {
        width: 95%;
        margin: 0 auto;
        padding: 0 1rem;
    }

    /* servicios______ */
    .servicios_container {
        margin: 0 auto;
        text-align: center;
        margin-top: -5rem;
        flex-direction: column-reverse;
    }

    .servicios_elementos {
        flex-direction: column;
    }

    .servicios_txt {
        width: 100%;
        margin: 0 auto;
        padding: 3rem 20px 2rem;
    }

    /* objetivos */

    .objetivos_container {
        width: var(--container-width-lg);
    }

    .servicios-container {
        grid-template-columns: 1fr;
    }

    /* proyectos */
    .proyectos_elementos {
        display: flex;
        flex-direction: column;
    }

    .proyectos_elementos_izq,
    .proyectos_elementos_der {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    /* footer */

    .footer_container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
        text-align: center;
        padding: 4rem 0;
    }

    .footer_section {
        padding: 0;
    }

    .footer_brand {
        width: 70%;
        margin: 0 auto;
    }

    .footer_socials {
        width: 50%;
        padding-top: 1rem;
        margin: 0 auto;
    }

}