<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <!-- ICONSOUT CDN -->
    <script src="https://kit.fontawesome.com/975a84afb8.js" crossorigin="anonymous"></script>

    <!-- Leaflet link -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.9.1/dist/leaflet.js"></script>


    <!-- logo en miniatura -->
    <link rel="icon" href="../images/logo.png">

    <link rel="stylesheet" href="../css/style.css">

    <title>DotNode</title>
</head>

<body>

    <header class="navbar" id="navbar">
        <nav class="navigation">
            <div class="logo">
                <a href="../index.html">DotNode.</a>
            </div>
            <input type="checkbox" id="check">
            <label for="check" class="menu_icon">
                <i class="fa-solid fa-bars" id="abrir_icon"></i>
                <i class="fa-solid fa-x" id="cerrar_icon"></i>
            </label>
            <div class="menu">
                <div class="menu_item"><a href="../index.html">Inicio</a></div>
                <div class="menu_item"><a href="servicios.html">Servicios</a></div>
                <div class="menu_item"><a href="proyectos.html">Proyectos</a></div>
                <div class="menu_item"><a href="presupuesto.html">Precios</a></div>
                <div class="menu_item">
                    <button class="btn" onclick="location.href='contacto.html'"> Contacto </button>
                </div>
            </div>
        </nav>
    </header>



    <!-- INTRO___ -->
    <section class="contacto_intro">
        <div class="contacto_intro_container animate-on-scroll">
            <h1>CONTÁCTANOS<span class="punto">.</span></h1>
            <p>Si tienes preguntas, necesitas un presupuesto o simplemente deseas conocer más sobre nuestros
                servicios,
                no dudes en ponerte en contacto con nosotros.</p>
        </div>
    </section>

    <section class="contacto_info" id="ponte_contacto">
        <div class="contacto_info_container">
            <div class="contacto_text animate-on-scroll">
                <h2>Ponte en contacto</h2>
                <p>Nuestro equipo de expertos atenderá tu solicitud con la mayor rapidez y eficacia, asegurándose de
                    ofrecerte la mejor solución.</p>

                <div class="contacto_datos">
                    <div class="contacto_datos_icono">
                        <i class="fa-solid fa-location-dot"></i>
                    </div>
                    <div class="contacto_datos_texto">
                        <p><strong>Ubicación</strong></p>
                        <p>Calle Dr. Severo Ochoa, 13, Centro, 18001 Granada, España </p>
                    </div>
                </div>
                <div class="contacto_datos">
                    <div class="contacto_datos_icono">
                        <i class="fa-solid fa-phone"></i>
                    </div>
                    <div class="contacto_datos_texto">
                        <p><strong>Número de Teléfono</strong></p>
                        <p>623 737 050</p>
                    </div>
                </div>
                <div class="contacto_datos">
                    <div class="contacto_datos_icono">
                        <i class="fa-solid fa-envelope"></i>
                    </div>
                    <div class="contacto_datos_texto">
                        <p><strong>Correo Electrónico</strong></p>
                        <p>contact@dotnode.com</p>
                    </div>
                </div>
                <div class="contacto_socials">
                    <h3>Síguenos en nuestras redes:</h3>
                    <ul>
                        <li><a href="https://facebook.com"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://instagram.com"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://likedin.com"><i class="fa-brands fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>

            <!-- El mapa se inserta dinámicamente usando leaflet y js  -->
            <div id="map" class="animate-on-scroll"></div>
        </div>
    </section>

    <!-- FOOTER_________________ -->

    <footer class="footer">
        <div class="footer_container">
            <div class="footer_logo">
                <a href="index.html">
                    <h4>DotNode.</h4>
                </a>
                <p>Granada, España</p>
            </div>
            <div class="footer_socials">
                <ul>
                    <li><a href="https://facebook.com"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="https://instagram.com"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="https://likedin.com"><i class="fa-brands fa-linkedin"></i></a></li>
                </ul>
            </div>
            <div class="footer_copyright">
                <p>Copyright &copy; 2024</p>
                <a href="index.html">Política de privacidad</a>
            </div>
        </div>
    </footer>



    <script src="../js/script.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwcoqipIxhJgub_V7aTcHEjLr_q3Whm5A&libraries=places"></script>
    <script src="../js/map.js"></script>

</body>

</html>