<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- se utiliza para asegurar que las páginas web se rendericen correctamente en las versiones más recientes del navegador -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- ICONSOUT CDN -->
    <script src="https://kit.fontawesome.com/975a84afb8.js" crossorigin="anonymous"></script>

    <!-- logo en miniatura -->
    <link rel="Icon" href="../images/logo.png">

    <link rel="stylesheet" href="../css/style.css">

    <title>DotNode</title>
</head>

<body>
    <section class="main">
        <!-- Aqui meto el header y otra sección juntos para que compartan el mismo fondo -->
        <header class="navbar" id="navbar">
            <nav class="navigation">
                <div class="logo">
                    <a href="../index.html">DotNode.</a>
                </div>
                <div class="menu">
                    <div class="menu_item"><a href="../index.html">Inicio</a></div>
                    <div class="menu_item"><a href="servicios.html">Servicios</a></div>
                    <div class="menu_item"><a href="proyectos.html">Proyectos</a></div>
                    <div class="menu_item"><a href="presupuesto.html"><span class="active">Precios</span></a></div>
                </div>
                <div class="navbutton">
                    <a href="contacto.html"><button class="btn"> Contacto </button></a>
                </div>
            </nav>
        </header>

        <section class="portada">
            <h1>Diseños Ilimitados<span class="punto">.</span></h1>
            <p>Los Diseños Profesionales que necesitas para llevar tu negocio al siguiente nivel.
                Diseños web, diseños de figma y revisiones ilimitadas.
            </p> <br>
            <div class="para_ti_logo">
                <img src="../images/logo.png" alt="logo dotnode">
            </div>
        </section>
    </section>

    <section class="presupuesto_intro">
        <div class="presupuesto_intro_container">
            <div class="presupuesto_intro_txt">
                <h2>En Dotnode, cada sitio web que creamos es una fusión perfecta de diseño y funcionalidad, pensado
                    para <span class="punto">destacar</span> y crecer contigo en el mundo digital. Desde la navegación
                    intuitiva hasta un diseño
                    visual impactante, cada elemento está pensado para maximizar tu presencia en línea y convertir
                    visitantes en clientes.</h2>
                <img src="../images/rectangulo.png" alt="rectangulo">
            </div>
        </div>
    </section>

    <section class="formulario">

        <form id="presupuestoForm">
            <div class="formulario_container">
                <p id="subtitulo">HABLA CON NUESTROS ESPECIALISTAS</p>
                <h1>Solicita tu Presupuesto<span class="punto">.</span></h1>
                <div class="datos">
                    <h2>Datos de Contacto</h2>
                    <div class="datos_contacto">
                        <label for="nombre">Nombre:</label>
                        <input type="text" id="nombre" name="nombre" maxlength="15" required>

                        <label for="apellidos">Apellidos:</label>
                        <input type="text" id="apellidos" name="apellidos" maxlength="40" required>

                        <label for="telefono">Teléfono de contacto:</label>
                        <input type="tel" id="telefono" name="telefono" pattern="[0-9]{9}" required>

                        <label for="email">Correo electrónico:</label>
                        <input type="email" id="email" name="email" required>
                    </div>
                </div>
            </div>



            <section class="presupuesto">
                <div class="presupuesto_container">
                    <h2>Selecciona tu opción <span class="punto">ideal.</span></h2>
                    <div class="presupuesto_cards">
                        <div class="presupuesto_card" data-price="500">
                            <h2>Básico</h2>
                            <p>500€</p>
                            <ul>
                                <li><span>_</span> Drupal 10 o WordPress</li>
                                <li><span>_</span> Dominio y hosting incluido (primer año)</li>
                                <li><span>_</span> Diseño web a medida completo *</li>
                                <li><span>_</span> Diseño web responsive (adaptado a móviles y tabletas)</li>
                                <li><span>_</span> Galería de imágenes</li>
                                <li><span>_</span> Blog incluido</li>
                                <li><span>_</span> Enlace a redes sociales</li>
                                <li><span>_</span> Formulario de contacto</li>
                                <li><span>_</span> Aviso de cookies</li>
                                <li><span>_</span> Integración de Google Analytics</li>
                                <li><span>_</span> Integración de Google Search Console</li>
                                <li><span>_</span> Mapa de Google</li>
                            </ul>
                        </div>
                        <div class="presupuesto_card" data-price="800">
                            <h2>Estándar</h2>
                            <p>800€</p>
                            <ul>
                                <li><span>_</span> Drupal 10 o WordPress</li>
                                <li><span>_</span> Dominio y hosting incluido (primer año)</li>
                                <li><span>_</span> Diseño web a medida completo *</li>
                                <li><span>_</span> Diseño web responsive (adaptado a móviles y
                                    tabletas)</li>
                                <li><span>_</span> Blog incluido</li>
                                <li><span>_</span> Galería de imágenes</li>
                                <li><span>_</span> Enlace a redes sociales</li>
                                <li><span>_</span> Formulario de contacto</li>
                                <li><span>_</span> Aviso de cookies</li>
                                <li><span>_</span> Integración de Google Analytics</li>
                                <li><span>_</span> Integración de Google Search Console</li>
                                <li><span>_</span> Mapa de Google Personalizado</li>
                                <li><span>_</span> Texto de protección de datos</li>
                                <li><span>_</span> Imágenes de recurso</li>
                            </ul>
                        </div>
                        <div class="presupuesto_card" data-price="1000">
                            <h2>Profesional</h2>
                            <p>1000€</p>
                            <ul>
                                <li><span>_</span> Drupal 10 o WordPress</li>
                                <li><span>_</span> Dominio y hosting incluido (primer año)</li>
                                <li><span>_</span> Diseño web responsive (adaptado a móviles y
                                    tabletas)</li>
                                <li><span>_</span> Blog incluido</li>
                                <li><span>_</span> Galería de imágenes</li>
                                <li><span>_</span> Formulario de contacto</li>
                                <li><span>_</span> Aviso de cookies</li>
                                <li><span>_</span> Integración de Google Analytics</li>
                                <li><span>_</span> Integración de Google Search Console</li>
                                <li><span>_</span> Mapa de Google</li>
                                <li><span>_</span> Protección de datos</li>
                                <li><span>_</span> Imágenes profesionales</li>
                                <li><span>_</span> Slider de imágenes</li>
                                <li><span>_</span> Instalación de captcha de seguridad antispam</li>
                                <li><span>_</span> Multi-idiomas</li>
                                <li><span>_</span> Soporte profesional</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="extras">
                    <h2>Extras</h2>
                    <div class="extra_opciones">
                        <div class="extra_opcion"><label><input type="checkbox" class="extra" data-price="200">
                                Animaciones
                                3D(+200€)</label>
                        </div>
                        <div class="extra_opcion"><label><input type="checkbox" class="extra" data-price="150">
                                Mantenimiento mensual
                                (+150€)</label>
                        </div>
                        <div class="extra_opcion"><label><input type="checkbox" class="extra" data-price="100">
                                Integración API
                                (+100€)</label></div>
                        <div class="extra_opcion"><label><input type="checkbox" class="extra" data-price="300"> SEO
                                avanzado (+300€)</label>
                        </div>
                        <div class="extra_opcion plazo">
                            <label for="plazo">Plazo de entrega (días):</label>
                            <input type="number" id="plazo" name="plazo" min="3" value="3">
                        </div>
                    </div>
                </div>

                <div class="presupuesto_final">
                    <p>Presupuesto Total: <span id="total">0</span>€</p>
                    <input type="checkbox" id="acepto_condiciones"> <label for="condiciones">Acepto las condiciones
                        de privacidad</label><br>
                    <button class="btn btn4" type="submit">Enviar</button>
                </div>
            </section>
        </form>
    </section>






    <!-- FOOTER_________________ -->

    <footer class="footer">
        <div class="footer_container">
            <div class="footer_logo">
                <a href="index.html">
                    <h4>DotNode.</h4>
                </a>
                <p>Granada, España</p>
            </div>
            <div class="footer_socials">
                <ul>
                    <li><a href="https://facebook.com"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="https://instagram.com"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="https://likedin.com"><i class="fa-brands fa-linkedin"></i></a></li>
                </ul>
            </div>
            <div class="footer_copyright">
                <p>Copyright &copy; 2024</p>
                <a href="index.html">Política de privacidad</a>
            </div>
        </div>
    </footer>

    <script src="../js/script.js"></script>

</body>

</html>