<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- se utiliza para asegurar que las páginas web se rendericen correctamente en las versiones más recientes del navegador -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- ICONSOUT CDN -->
    <script src="https://kit.fontawesome.com/975a84afb8.js" crossorigin="anonymous"></script>

    <!-- logo en miniatura -->
    <link rel="Icon" href="../images/logo.png">

    <link rel="stylesheet" href="../css/style.css">

    <title>DotNode</title>
</head>

<body>

    <header class="navbar" id="navbar">
        <nav class="navigation">
            <div class="logo">
                <a href="../index.html">DotNode.</a>
            </div>
            <div class="menu">
                <div class="menu_item"><a href="../index.html">Inicio</a></div>
                <div class="menu_item"><a href="servicios.html">Servicios</a></div>
                <div class="menu_item"><a href="proyectos.html"><span class="active">Proyectos</span></a></div>
                <div class="menu_item"><a href="presupuesto.html">Precios</a></div>
            </div>
            <div class="navbutton">
                <a href="contacto.html"><button class="btn"> Contacto </button></a>
            </div>
        </nav>
    </header>

    <section class="galeria">
        <div class="galeria_text">
            <p id="subtitulo">PORTAFOLIO</p>
            <h1>NUESTRO TRABAJO<span class="punto">.</span></h1>
        </div>
        <div class="slider">
            <div class="list">
                <div class="item active">
                    <img src="../images/proyecto_galeria1.png" alt="">
                    <div class="content">
                        <p>SITIO WEB DE CHEFS</p>
                        <h1>ESENC</h1>
                        <p>Esenc ofrece servicios de chef privado y experiencias culinarias personalizadas en Marbella y
                            otras localidades como Saint Tropez, Mónaco y Londres.
                        </p>
                        <a href="https://esenc.es/ " target="_blank"><button class="btn btn5">SITIO WEB <i
                                    class="fa-solid fa-link"></i></button></a>
                    </div>
                </div>
                <div class="item">
                    <img src="../images/proyecto_galeria2.png" alt="">
                    <div class="content">
                        <p>RESTAURANTE</p>
                        <h1>CHEY</h1>
                        <p>Chey es un restaurante en Puerto Banús, Marbella, especializado en cocina nikkei, que fusiona
                            las tradiciones culinarias de Japón y Perú.</p>
                        <a href="https://cheybytibu.com/" target="_blank"><button class="btn btn5">SITIO WEB <i
                                    class="fa-solid fa-link"></i></button></a>
                    </div>
                </div>
                <div class="item">
                    <img src="../images/proyecto_galeria3.png" alt="">
                    <div class="content">
                        <p>NEGOCIO</p>
                        <h1>CAPITAL DEMOCRACY</h1>
                        <p>Capital Democracy se centra en una firma de asesoría que ayuda a startups a recaudar capital
                            de riesgo.</p>
                        <a href="https://capitaldemocracy.com/" target="_blank"><button class="btn btn5">SITIO WEB <i
                                    class="fa-solid fa-link"></i></button></a>
                    </div>
                </div>
                <div class="item">
                    <img src="../images/proyecto_galeria4.png" alt="">
                    <div class="content">
                        <p>CLUB MODERNO</p>
                        <h1>CHIMÚ</h1>
                        <p>Chimú se centra en un restaurante y lounge en Puerto Banús, Marbella, que ofrece una
                            experiencia gastronómica única con un enfoque en la fusión peruana y nikkei.</p>
                        <a href="https://chimumarbella.com/ " target="_blank"><button class="btn btn5">SITIO WEB <i
                                    class="fa-solid fa-link"></i></button></a>
                    </div>
                </div>
                <div class="item">
                    <img src="../images/proyecto_galeria5.png" alt="">
                    <div class="content">
                        <p>CLUB RESTAURANTE</p>
                        <h1>LINEKERS GROUP</h1>
                        <p>El sitio web destaca el bar Linekers en Puerto Banus, Marbella, conocido por su animada vida nocturna y música.</p>
                        <a href="https://linekersgroup.com/" target="_blank"><button class="btn btn5">SITIO WEB <i
                                    class="fa-solid fa-link"></i></button></a>
                    </div>
                </div>
            </div>

            <!-- button arrows -->
            <div class="arrows">
                <button id="prev"><</button>
                <button id="next">></button>
            </div>
            <!-- thumbnail -->
            <div class="thumbnail">
                <div class="item active">
                    <img src="../images/proyecto3.png" alt="">
                    <div class="content">
                        ESCENC
                    </div>
                </div>
                <div class="item">
                    <img src="../images/proyecto1_chey.jpg" alt="">
                    <div class="content">
                        CHEY
                    </div>
                </div>
                <div class="item">
                    <img src="../images/proyecto4.png" alt="">
                    <div class="content">
                        CAPITAL DEMOCRACY
                    </div>
                </div>
                <div class="item">
                    <img src="../images/proyecto5_chimu.png" alt="">
                    <div class="content">
                        CHIMÚ
                    </div>
                </div>
                <div class="item">
                    <img src="../images/proyecto2_nightclub1.png">
                    <div class="content">
                        LINEKERS GROUP
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- FOOTER_________________ -->

    <footer class="footer">
        <div class="footer_container">
            <div class="footer_logo">
                <a href="index.html">
                    <h4>DotNode.</h4>
                </a>
                <p>Granada, España</p>
            </div>
            <div class="footer_socials">
                <ul>
                    <li><a href="https://facebook.com"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="https://instagram.com"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="https://likedin.com"><i class="fa-brands fa-linkedin"></i></a></li>
                </ul>
            </div>
            <div class="footer_copyright">
                <p>Copyright &copy; 2024</p>
                <a href="index.html">Política de privacidad</a>
            </div>
        </div>
    </footer>

    <script src="../js/galeria.js"></script>

</body>

</html>