<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- se utiliza para asegurar que las páginas web se rendericen correctamente en las versiones más recientes del navegador -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- ICONSOUT CDN -->
    <script src="https://kit.fontawesome.com/975a84afb8.js" crossorigin="anonymous"></script>

    <!-- logo en miniatura -->
    <link rel="Icon" href="../images/logo.png">

    <link rel="stylesheet" href="../css/style.css">

    <title>DotNode</title>
</head>

<body>

    <header class="navbar" id="navbar">

        <nav class="navigation">
            <div class="logo">
                <a href="../index.html">DotNode.</a>
            </div>
            <input type="checkbox" id="check">
            <label for="check" class="menu_icon"><i class="fa-solid fa-bars" id="abrir_icon"></i>
                <i class="fa-solid fa-x" id="cerrar_icon"></i></label>
            <div class="menu">
                <div class="menu_item"><a href="../index.html">Inicio</a></div>
                <div class="menu_item"><a href="servicios.html">Servicios</a></div>
                <div class="menu_item"><a href="proyectos.html"><span class="active">Proyectos</span></a></div>
                <div class="menu_item"><a href="presupuesto.html">Precios</a></div>
                <div class="menu_item">
                    <a href="contacto.html"><button class="btn"> Contacto </button></a>
                </div>
            </div>

        </nav>
    </header>

    <section class="galeria">
        <div class="galeria_text">
            <p id="subtitulo">PORTAFOLIO</p>
            <h1>NUESTRO TRABAJO<span class="punto">.</span></h1>
        </div>
        <div class="slider">
            <div class="list">
                <div class="item active">
                    <img src="../images/proyecto_galeria1.png" alt="">
                    <div class="content">
                        <p>SITIO WEB DE CHEFS</p>
                        <h1>ESENC</h1>
                        <p>Esenc ofrece servicios de chef privado y experiencias culinarias personalizadas en Marbella y
                            otras localidades como Saint Tropez, Mónaco y Londres.
                        </p>
                        <a href="https://esenc.es/ " target="_blank"><button class="btn btn5">SITIO WEB <i
                                    class="fa-solid fa-link"></i></button></a>
                    </div>
                </div>
                <div class="item">
                    <img src="../images/proyecto_galeria2.png" alt="">
                    <div class="content">
                        <p>RESTAURANTE</p>
                        <h1>CHEY</h1>
                        <p>Chey es un restaurante en Puerto Banús, Marbella, especializado en cocina nikkei, que fusiona
                            las tradiciones culinarias de Japón y Perú.</p>
                        <a href="https://cheybytibu.com/" target="_blank"><button class="btn btn5">SITIO WEB <i
                                    class="fa-solid fa-link"></i></button></a>
                    </div>
                </div>
                <div class="item">
                    <img src="../images/proyecto_galeria3.png" alt="">
                    <div class="content">
                        <p>NEGOCIO</p>
                        <h1>CAPITAL DEMOCRACY</h1>
                        <p>Capital Democracy se centra en una firma de asesoría que ayuda a startups a recaudar capital
                            de riesgo.</p>
                        <a href="https://capitaldemocracy.com/" target="_blank"><button class="btn btn5">SITIO WEB <i
                                    class="fa-solid fa-link"></i></button></a>
                    </div>
                </div>
                <div class="item">
                    <img src="../images/proyecto_galeria4.png" alt="">
                    <div class="content">
                        <p>CLUB MODERNO</p>
                        <h1>CHIMÚ</h1>
                        <p>Chimú se centra en un restaurante y lounge en Puerto Banús, Marbella, que ofrece una
                            experiencia gastronómica única con un enfoque en la fusión peruana y nikkei.</p>
                        <a href="https://chimumarbella.com/ " target="_blank"><button class="btn btn5">SITIO WEB <i
                                    class="fa-solid fa-link"></i></button></a>
                    </div>
                </div>
                <div class="item">
                    <img src="../images/proyecto_galeria5.png" alt="">
                    <div class="content">
                        <p>CLUB</p>
                        <h1>LINEKERS</h1>
                        <p>El sitio web destaca el bar Linekers en Puerto Banus, Marbella, conocido por su animada vida
                            nocturna y música.</p>
                        <a href="https://linekersgroup.com/" target="_blank"><button class="btn btn5">SITIO WEB <i
                                    class="fa-solid fa-link"></i></button></a>
                    </div>
                </div>
            </div>

            <!-- button arrows -->
            <div class="arrows">
                <button id="prev"><</button>
                <button id="next">></button>
            </div>
            <!-- thumbnail -->
            <div class="thumbnail">
                <div class="item active">
                    <img src="../images/proyecto3.png" alt="">
                    <div class="content">
                        ESCENC
                    </div>
                </div>
                <div class="item">
                    <img src="../images/proyecto1_chey.jpg" alt="">
                    <div class="content">
                        CHEY
                    </div>
                </div>
                <div class="item">
                    <img src="../images/proyecto4.png" alt="">
                    <div class="content">
                        CAPITAL DEMOCRACY
                    </div>
                </div>
                <div class="item">
                    <img src="../images/proyecto5_chimu.png" alt="">
                    <div class="content">
                        CHIMÚ
                    </div>
                </div>
                <div class="item">
                    <img src="../images/proyecto2_nightclub1.png">
                    <div class="content">
                        LINEKERS GROUP
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="nuestros_servicios">
        <div class="nuestros_servicios_container">
            <div class="nuestros_servicios_txt">
                <h1>NUESTROS SERVICIOS<span class="punto">.</span></h1>
                <p>Ofrecemos soluciones digitales personalizadas para llevar tu negocio al siguiente nivel. Ya sea a través de un sitio web atractivo, una tienda en línea optimizada o una app móvil funcional, nos aseguramos de que tu marca se destaque y llegue de manera efectiva a tu audiencia. Trabajamos contigo para crear una presencia digital sólida, mejorando la experiencia de tus usuarios y maximizando tus resultados. ¡Vamos a transformar tu negocio juntos!</p>
            </div>
            <section class="nuestros_servicios_items">

                <section class="nuestros_servicios_item" id="ecommerce">
                    <div class="nuestros_servicios_content">
                        <h1>E-commerce Sites</h1>
                        <p>Creamos tiendas en línea diseñadas a medida para potenciar tu negocio en el entorno digital.
                            Nuestro enfoque se centra en desarrollar plataformas funcionales y atractivas que no solo
                            capturen la atención de los clientes, sino que también impulsen las ventas. Cada e-commerce
                            que diseñamos está optimizado para la conversión, con navegación intuitiva, sistemas de pago
                            seguros y características avanzadas como personalización de productos y filtros
                            inteligentes. Nos aseguramos de que tu tienda destaque en los motores de búsqueda,
                            ayudándote a conectar con una audiencia más amplia y a escalar tu negocio sin límites. Este
                            servicio es ideal tanto para quienes están comenzando como para empresas que buscan renovar
                            su presencia en línea.</p>
                        <button class="btn btn4" onclick="location.href='../views/presupuesto.html'">Consultar
                            Tarifa</button>
                    </div>
                </section>

                <section class="nuestros_servicios_item" id="frontend">
                    <div class="nuestros_servicios_content">
                        <h1>Desarrollo FrontEnd</h1>
                        <p>La primera impresión importa, y tu sitio web debe ser tan impresionante como funcional. Nos
                            especializamos en el desarrollo front-end, creando interfaces atractivas y optimizadas que
                            ofrecen una experiencia de usuario fluida y amigable. Nos aseguramos de que cada detalle,
                            desde
                            los colores y las fuentes hasta las animaciones y transiciones, esté alineado con tu marca.
                            Diseñamos páginas que se adaptan perfectamente a cualquier dispositivo, garantizando un
                            rendimiento impecable tanto en escritorio como en móviles. Con nosotros, tus ideas cobran
                            vida
                            en la pantalla, impactando a tus usuarios desde el primer momento.</p>
                        <button class="btn btn4" onclick="location.href='../views/presupuesto.html'">Consultar
                            Tarifa</button>
                    </div>
                </section>

                <section class="nuestros_servicios_item" id="app_moviles">
                    <div class="nuestros_servicios_content">
                        <h1>Desarrollo de Aplicaciones Móviles</h1>
                        <p>En un mundo donde los dispositivos móviles dominan, contar con una aplicación personalizada
                            es
                            clave para conectar con tus clientes. Diseñamos y desarrollamos apps para iOS y Android que
                            destacan por su funcionalidad, diseño atractivo y rendimiento excepcional. Ya sea una
                            aplicación
                            comercial, una herramienta para tu equipo o un servicio innovador para tus clientes, nos
                            encargamos de todo: desde la planificación estratégica hasta el lanzamiento en las tiendas
                            de
                            aplicaciones. Además, integramos características como notificaciones push, geolocalización y
                            sistemas de pago, garantizando una experiencia completa y satisfactoria.</p>
                        <button class="btn btn4" onclick="location.href='../views/presupuesto.html'">Consultar
                            Tarifa</button>
                    </div>
                </section>

                <section class="nuestros_servicios_item" id="ui_ux">
                    <div class="nuestros_servicios_content">
                        <h1>Diseño UI/UX</h1>
                        <p>Tu sitio web o aplicación no solo debe verse bien, también debe ser fácil y agradable de
                            usar.
                            Nos especializamos en diseño UI/UX para crear experiencias digitales que conecten con los
                            usuarios. Analizamos el comportamiento del cliente para diseñar interfaces intuitivas que
                            guíen
                            a los usuarios de manera natural hacia sus objetivos. Nuestros diseños están pensados para
                            aumentar la retención, reducir las tasas de rebote y maximizar las conversiones, logrando un
                            equilibrio perfecto entre estética y funcionalidad. Al elegirnos, obtienes un producto que
                            no
                            solo encanta a la vista, sino que también entrega resultados medibles.</p>
                        <button class="btn btn4" onclick="location.href='../views/presupuesto.html'">Consultar
                            Tarifa</button>
                    </div>
                </section>
            </section>
        </div>
    </section>



    <!-- FOOTER_________________ -->

    <footer class="footer">
        <div class="footer_container">
            <div class="footer_logo">
                <a href="index.html">
                    <h4>DotNode.</h4>
                </a>
                <p>Granada, España</p>
            </div>
            <div class="footer_socials">
                <ul>
                    <li><a href="https://facebook.com"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="https://instagram.com"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="https://likedin.com"><i class="fa-brands fa-linkedin"></i></a></li>
                </ul>
            </div>
            <div class="footer_copyright">
                <p>Copyright &copy; 2024</p>
                <a href="index.html">Política de privacidad</a>
            </div>
        </div>
    </footer>

    <script src="../js/galeria.js"></script>

</body>

</html>