<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- se utiliza para asegurar que las páginas web se rendericen correctamente en las versiones más recientes del navegador -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- ICONSOUT CDN -->
    <script src="https://kit.fontawesome.com/975a84afb8.js" crossorigin="anonymous"></script>

    <!-- logo en miniatura -->
    <link rel="Icon" href="../images/logo.png">

    <link rel="stylesheet" href="../css/style.css">

    <title>DotNode</title>
</head>

<body>
    <section class="main">
        <!-- Aqui meto el header y otra sección juntos para que compartan el mismo fondo -->
        <header class="navbar" id="navbar">
            <nav class="navigation">
                <div class="logo">
                    <a href="index.html">DotNode.</a>
                </div>
                <div class="menu">
                    <div class="menu_item"><a href="../index.html">Inicio</a></div>
                    <div class="menu_item"><a href="servicios.html">Servicios</a></div>
                    <div class="menu_item"><a href="proyectos.html"><span class="active">Proyectos</span></a></div>
                    <div class="menu_item"><a href="presupuesto.html">Precios</a></div>
                </div>
                <div class="navbutton">
                    <a href="contacto.html"><button class="btn"> Contacto </button></a>
                </div>
            </nav>
        </header>

        <section class="portada">
            <p id="subtitulo">DESARROLLO WEB</p>
            <h1>POTENCIA TU PROYECTO<span class="punto">.</span></h1>
            <a href="views/servicios.html"><button class="btn btn2">Descubre Más</button></a>
        </section>

    </section>




    <!-- FOOTER_________________ -->

    <footer class="footer">
        <div class="footer_container">
            <div class="footer_logo">
                <a href="index.html">
                    <h4>DotNode.</h4>
                </a>
                <p>Granada, España</p>
            </div>
            <div class="footer_socials">
                <ul>
                    <li><a href="facebook.com"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="twitter.com"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="instagram.com"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="likedin.com"><i class="fa-brands fa-linkedin"></i></a></li>
                </ul>
            </div>
            <div class="footer_copyright">
                <p>Copyright &copy; 2024</p>
                <a href="index.html">Política de privacidad</a>
            </div>
        </div>
    </footer>





    <script src="js/script.js"></script>

</body>

</html>