<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- se utiliza para asegurar que las páginas web se rendericen correctamente en las versiones más recientes del navegador -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- ICONSOUT CDN -->
    <script src="https://kit.fontawesome.com/975a84afb8.js" crossorigin="anonymous"></script>

    <!-- logo en miniatura -->
    <link rel="Icon" href="../images/logo.png">

    <link rel="stylesheet" href="../css/style.css">

    <title>DotNode</title>
</head>

<body>
    <header class="navbar" id="navbar">

        <nav class="navigation">
            <div class="logo">
                <a href="../index.html">DotNode.</a>
            </div>
            <input type="checkbox" id="check">
            <label for="check" class="menu_icon"><i class="fa-solid fa-bars" id="abrir_icon"></i>
                <i class="fa-solid fa-x" id= "cerrar_icon"></i></label>
            <div class="menu">
                <div class="menu_item"><a href="../index.html">Inicio</a></div>
                <div class="menu_item"><a href="servicios.html"><span class="active">Servicios</span></a></div>
                <div class="menu_item"><a href="proyectos.html">Proyectos</a></div>
                <div class="menu_item"><a href="presupuesto.html">Precios</a></div>
                <div class="menu_item">
                    <a href="contacto.html"><button class="btn"> Contacto </button></a>
                </div>
            </div>

        </nav>
    </header>

    <section class="servicios_portada">
        <div class="servicios_portada_container">
            <div class="servicios_portada_titulo">
                <h1>DESARROLLA TU PROYECTO CON DOTNODE</h1>
                <p>Creamos y desarrollamos soluciones web innovadoras que impulsan el valor de tu negocio, ofreciendo a
                    tus
                    clientes una experiencia de usuario cautivadora y eficaz.</p>
                <a href="contacto.html"><button class="btn btn4">Contáctanos</button></a>
            </div>
            <div class="servicio_portada_img">
                <img src="../images/forma3d.png" alt="" class="triangle">
            </div>
        </div>
    </section>


    <section class="servicios_ventajas">
        <div class="servicios_ventajas_container">
            <h2>Aprovecha nuestro proceso comprobado de desarrollo web y haz que tu proyecto sea un éxito.</h2>
            <p>Reconocemos que los proyectos más complejos exigen que nuestro equipo de desarrollo web preste atención a
                cada detalle en el proceso de creación de soluciones basadas en la web. En Dotnode, hemos entregado más
                de 1000 proyectos, por lo que sabemos lo que se necesita para ejecutar un proceso de desarrollo de
                software basado en la web sin inconvenientes y optimizado.</p>
        </div>
    </section>

    <section class="servicios_pasos">
        <div class="servicios_pasos_container">
            <div class="servicios_pasos_titulo">
                <h1>PASOS<span class="punto">.</span></h1>
            </div>
            <div class="servicios_pasos_items">
                <div class="paso">
                    <h2>01</h2>
                    <p><strong>Consulta tu idea.</strong> Establece la dirección con nuestros consultores de desarrollo
                        web.</p>
                </div>
                <div class="paso">
                    <h2>02</h2>
                    <p><strong>Elige una tecnología.</strong> Decidiendo sobre el stack tecnológico y el enfoque
                        general.</p>
                </div>
                <div class="paso">
                    <h2>03</h2>
                    <p><strong>Diseño.</strong> Creando una solución web hermosa y fácil de usar con nuestros
                        especialistas en diseño.</p>
                </div>
                <div class="paso">
                    <h2>04</h2>
                    <p><strong>Desarrollo.</strong> Programando la aplicación web gracias a nuestros ingenieros
                        experimentados.</p>
                </div>
                <div class="paso">
                    <h2>05</h2>
                    <p><strong>Alcanza el mercado.</strong>Lanzando tu producto y manteniéndolo en buen estado con
                        soporte y mantenimiento.</p>
                </div>
            </div>
        </div>
    </section>

     <!-- SERVICIOS  -->

     <section class="servicios" id="servicios">
        <div class="servicios_container">
            <div class="servicios_text">
                <h1>SEVICIOS<span class="punto">.</span></h1>
            </div>
            <div class="servicios_items">
                <div class="servicio_item">
                    <div class="servicio_text">
                        <h2><a href="../views/proyectos.html#ecommerce">E-commerce Sites</a></h2>
                    </div>
                    <div class="servicio_btn">
                        <a href="../views/presupuesto.html"><button class="btn btn3">Consultar Tarifa</button></a>
                    </div>
                    <div class="enterate">
                        <a href="../views/proyectos.html#ecommerce"><button class="btn btn4">Entérate</button></a>
                    </div>
                </div>
                <div class="servicio_item">
                    <div class="servicio_text">
                        <h2><a href="../views/proyectos.html#frontend">Desarrollo FrontEnd</h2></a>
                    </div>
                    <div class="servicio_btn">
                        <a href="../views/presupuesto.html"><button class="btn btn3">Consultar Tarifa</button></a>
                    </div>
                    <div class="enterate">
                        <a href="../views/proyectos.html#frontend"><button class="btn btn4">Entérate</button></a>
                    </div>
                </div>
                <div class="servicio_item">
                    <div class="servicio_text">
                        <h2><a href="../views/proyectos.html#app_moviles">Desarrollo Aplicaciones Móviles</h2></a>
                    </div>
                    <div class="servicio_btn">
                        <a href="../views/presupuesto.html"><button class="btn btn3">Consultar Tarifa</button></a>
                    </div>
                    <div class="enterate">
                        <a href="../views/proyectos.html#app_moviles"><button class="btn btn4">Entérate</button></a>
                    </div>
                </div>
                <div class="servicio_item">
                    <div class="servicio_text">
                        <h2><a href="../views/proyectos.html#ui_ux">Diseño UI/UX</h2></a>
                    </div>
                    <div class="servicio_btn">
                        <a href="../views/presupuesto.html"><button class="btn btn3">Consultar Tarifa</button></a>
                    </div>
                    <div class="enterate">
                        <a href="../views/proyectos.html#ui_ux"><button class="btn btn4">Entérate</button></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    

    <section class="servicios_conclusion">
        <div class="servicios_conclusion_container">
            <div class="servicios_conclusion_text">
                <p id="subtitulo">¿TE GUSTÓ LO QUE VISTE?</p>
                <h1>COMIENZA YA TU PROYECTO</h1>
                <p>En Dotnode, transformamos ideas en páginas web que no solo impresionan, sino que también funcionan. Ofrecemos precios claros y ajustados a cada proyecto, desde diseños modernos y minimalistas hasta soluciones web completas y personalizadas. Cada detalle está pensado para que tu sitio destaque en cualquier dispositivo, garantizando que tu inversión no solo sea estética, sino también estratégica para tu crecimiento digital.</p>

                <button class="btn btn4">Solicita tu presupuesto</button>
            </div>
            <div class="servicios_conclusion_img">
                <img src="../images/dona.png" alt="dona">
            </div>
        </div>
    </section>




    <!-- FOOTER_________________ -->

    <footer class="footer">
        <div class="footer_container">
            <div class="footer_logo">
                <a href="index.html">
                    <h4>DotNode.</h4>
                </a>
                <p>Granada, España</p>
            </div>
            <div class="footer_socials">
                <ul>
                    <li><a href="https://facebook.com"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="https://instagram.com"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="https://likedin.com"><i class="fa-brands fa-linkedin"></i></a></li>
                </ul>
            </div>
            <div class="footer_copyright">
                <p>Copyright &copy; 2024</p>
                <a href="index.html">Política de privacidad</a>
            </div>
        </div>
    </footer>





    <script src="../js/script.js"></script>

</body>

</html>